<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>@dang Register</title>
</head>

<body>
  @dang Register
  <h1>register </h1>
  <form action="/register" method="POST">
    <br>
    username: <input type="text" name="username">
    <br>
    password: <input type="text" name="password">
    <br>
    email: <input type="text" name="email">
    <br>
    address: <input type="text" name="address">
    <br>
    deposit: <input type="text" name="deposit">
    <button type="submit">Masukkan</button>
  </form>

</body>

</html>