<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>@dang Register</title>
  <%- include('../partials/cssNavBar.ejs') %>
</head>

<body>
  <%- include('../partials/notif.ejs') %>
  <%- include('../partials/navBar.ejs') %>
  @dang Register
  <h1> Register </h1>
  <form action="/register" method="POST">
    <br>
    username: <input type="text" name="username">
    <br>
    password: <input type="text" name="password">
    <br>
    <button type="submit">Submit</button>
  </form>

</body>

</html>