<ul></ul>
<li></li>
<li><a href="/">Home</a></li>

<li><a href="/login">Login</a></li>
<li><a href="/register">Register</a></li>

<li><a href="/buy">Buy</a></li>
<li><a href="/editUser">Edit User</a></li>
<li><a href="/deposit">Deposit</a></li>
<li><a href="/checkTransaction">Check Transaction</a></li>
<li><a href="/logout">Log Out</a></li>