<% if(err){%>
  <div>
    <span class="err text" style="color:red"><%= err %></span>
  </div> 
<%}%>

<% if(msg){%>
  <div>
    <span class="msg text" style="color:skyblue"><%= msg %></span>
  </div> 
<%}%>
