<head>



</head>

<body>
    <h1>TAMBAH FOOD</h1>
    <form action="/foods/add" method="POST">
        <br>
        name: <input type="text" name="name">
        <br> originMadeFrom: <input type="text" name="originMadeFrom"><br>
        price: <input type="text" name="price"><br>
        uniqueness: <input type="text" name="uniqueness">
        <button type="submit">Masukkan</button>
    </form>


</body>