<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@dang Home</title>
    <%- include('../partials/cssNavBar.ejs') %>
  </head>

 <body>
    <%- include('../partials/navBar.ejs') %>
    <h1>TAMBAH FOOD</h1>
    <form action="/foods/add" method="POST">
        <br>
        name: <br>
        <input type="text" name="name">
        <br> originMadeFrom: <br>
        <input type="text" name="originMadeFrom"><br>
        price: <br>
        <input type="text" name="price"><br>
        <button type="submit">Masukkan</button>
    </form>


</body>