<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>@dang Edit User</title>
</head>

<body>
  @dang Edit User
  <% data.forEach(e =>{ %>
  <form action="/editUser/<%= e.id %>" method="POST">
    <br>
    user name : <input type="text" name="username" value="<%= e.username %>">
    <br>
    address: <input type="text" name="address" value="<%= e.address %>">
    <br>
    email : <input type="text" name="email" value="<%= e.email %>">
    <br>
    old password : <input type="password" name="password" value="">
    <br>
    new password : <input type="password" name="newpassword" value="">
    <br>
    <button type="submit">SUBMIT</button>
    <% })%>
  </form>
</body>

</html>